body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 16px;
}

p {
  margin: 10px 0 16px 0;
}

svg {
  border: 1px solid grey;
  box-sizing: border-box;
  flex-grow: 1;
  margin-bottom: 16px;
  width: 100%;
}

button,
label {
  display: inline-block;
  line-height: 18px;
  margin: 6px 0.5em 0 0;
  white-space: nowrap;
}

.pixel-size {
  width: 2.5em;
}

.line {
  stroke: royalblue;
}

.background {
  stroke: #f0f0f0;
}
