body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font: 14px Arial;
  height: 100vh;
  padding: 10px 16px 16px 16px;
  margin: 0;
}

p {
  margin: 0 0 16px 0;
}

svg {
  border: 1px solid grey;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
}

button,
label {
  display: inline-block;
  line-height: 18px;
  margin: 6px 0.5em 0 0;
  white-space: nowrap;
}

.pixel-size {
  width: 2.5em;
}

.stats-item {
  line-height: 1.5;
  white-space: nowrap;
}

.line,
.outside {
  stroke: #f0f0f0;
}

.line-background,
.perimeter {
  stroke: royalblue;
}

.inside {
  stroke: lightblue;
}
